
 .header {
  
  height :10vh;
	background: 	#4974a5;
	display:flex;
	justify-content: center;
	align-items: center;
   
  
  
  
} 
.header-heading{

  color:white;
	text-decoration: none;
  font-size: 2rem;
  padding-left: 350px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width:40rem;
}