
 .header {
  
   margin-top:0;
  background-color: antiquewhite;
  bottom:0;
  left:0;
  
   padding:50px;
   width:100%;
    background-image: url("Cognizant-logo.png"); 
   background-repeat: no-repeat;  
  
  
  
} 
